.register-body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 50px;
}

.registration-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.registration-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #218838;
}

.signin-link {
    margin-top: 15px;
    font-size: 0.9em;
}

.signin-link a {
    color: #007bff;
    text-decoration: none;
}

.signin-link a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

/* Checkbox styling */
.input-group input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: #007bff; /* Changes the checkbox color */
    margin-right: 5px;
    vertical-align: middle;
}

.input-group input[type="checkbox"]:hover {
    accent-color: #0056b3; /* Changes the color when hovering */
}

.input-group label[for="checkbox"] {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
